@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#BDC3C7, #445463);
}